.button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    flex: 1;
    font-size: 14px;
    color: #50c1f5;
}

.descr{
    margin-left: 20px;
}

.post-descr{
    flex: 1;
    margin-left: 0;
}

.post-container{
    display: flex;
    justify-content: center;
    align-items:center;
}

.content-post{
    border-style: solid;
    margin: 30px;
}

.horiz-flex-container{
    display: flex;
}

.horiz-flex-fill{
    flex: 1;
}

.submit-comment{
    width: 100%;
    display: flex;
}

#comment{
    flex:0 90%;
    height: 50px;
    border-style: none;

}

.username{
    flex: 0 10%;
    font-weight: bold;
}

.post-username{
    flex: 0 10%;
    font-weight: bold;
    margin-left: 20px;
}

.recent-comment{
    flex: 1;
    margin-left: 10px;
}